@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


:root {
  font-size: 62.5%;
  /* 10px */
  /* Cálculo para padronizar acessividade com a propriedade rem */

  --mydocument: normal 400 14px/2.4rem "Poppins", sans-serif;

  --myheader-title-font: normal 400 3.6rem "Staatliches", sans-serif;
  --myheader-subtitle-font: normal 400 16px "Poppins", sans-serif;

  --myinformation-font: normal 400 2.4rem/3.4rem "Staatliches", sans-serif;
  --myfieldset-legend-font: normal 400 2.4rem/3.4rem "Staatliches", sans-serif;

  --mybutton-font: normal 400 2.0rem/2.6rem "Staatliches", sans-serif;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body,
input {
  font: var(--mydocument);
}

body {
  background: #BFD7E4;
}

body::before {
  content: '';
  width: 100%;
  height: 465px;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #293241;
}

.page {
  width: 750px;
  margin: auto;
}

header {
  text-align: center;
  width: 417px;
  margin-top: 107px;
  margin-left: auto;
  margin-right: auto;
  padding: 2px 0;
}

header h1 {
  font: var(--myheader-title-font);
  color: white;
}

header p {
  font: var(--myheader-subtitle-font);
  color: white;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

div h2 {
  font: var(--myinformation-font);
  text-align: center;
  margin-top: 32px;
  padding-top: 6%;

  color: white;
  background-color: #F67669;
  height: 12.4rem;
  border-radius: 8px 8px 0 0;
}

form {
  background: #FFFFFF;
  min-height: 300px;

  padding: 64px;

  display: flex;
  flex-direction: column;
  gap: 48px;
}

fieldset {
  border: none;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;

  gap: 24px;
}

fieldset legend {
  font: var(--myfieldset-legend-font);
  width: 100%;

  text-align: center;  

  border-bottom: 1px solid #E6E6F0;
  padding-bottom: 16px;
}

.input-wrapper-name-complete {
  display: flex;
  flex-direction: row;
  gap: 22px;
}

.label-wrapper-name {
  display: flex;
}

.input-wrapper-name {
  width: 300px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper label,
.checkbox-wrapper label {
  margin-bottom: 8px;

  font-size: 14px;
  line-height: 24px;

  color: #4E4958;
}

.input-wrapper label span {
  margin-left: 12px;

  font-size: 12px;
  line-height: 20px;

  color: #6e6879;
}

.input-wrapper label span:hover {
  color: #6c6a71;
}

.input-wrapper input,
.input-wrapper textarea,
.input-wrapper select {
  background: #FAFAFC;

  border: 1px solid #E6E6F0;
  border-radius: 8px;

  height: 56px;

  padding: 0 24px;

  font-size: 16px;
  line-height: 26px;

  color: #6c6a71;
}

.input-wrapper textarea {
  padding: 0 16px;
  height: 168px;
}

.input-wrapper select {
  width: 300px;

  appearance: none;
  -webkit-appearance: none;

  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 10L12 14L16 10' stroke='%239C98A6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: right 24px top 50%;
}

.col-3 {
  display: flex;
  gap: 20px;
}

.col-3>div:nth-of-type(2) {
  width: 100%;
}

.checkbox-wrapper {
  position: relative;
}

.checkbox-wrapper label {
  display: flex;
  align-items: center;
  gap: 8px;

  margin: 0;
}

.checkbox-wrapper input {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;

  opacity: 0;
}

.checkbox-wrapper label::before {
  content: '';
  width: 24px;
  height: 24px;
  display: block;

  border: 1px solid #E6E6F0;
  border-radius: 8px;
}

.checkbox-wrapper input:checked+label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.00016 16.1698L4.83016 11.9998L3.41016 13.4098L9.00016 18.9998L21.0002 6.99984L19.5902 5.58984L9.00016 16.1698Z' fill='%2342D3FF'/%3E%3C/svg%3E%0A");
}

.checkbox-wrapper input:focus+label::before {
  outline: 2px solid black;
}

footer {
  background: #FFFFFF;

  height: 136px;

  display: flex;
  flex-direction: column;

  padding: 40px 64px;

  margin-bottom: 100px;

  border-radius: 0 0 8px 8px;
}

footer .button {
  height: 56px;
  background: #F67669;
  border: 0;
  border-radius: 8px;

  font: var(--mybutton-font);

  color: #FFFFFF;
}

footer .button:hover {
  background: #d73656;
}

input:invalid {
  border: 1px solid #FF1010;
}

/** MEDIA QUERIES */
@media (max-width: 990px) {
  .page {
    width: 60rem;
    margin: auto;
  }

  .input-wrapper-name {
    width: 100%;
  }
}

@media (max-width: 426px) {
  header {
    width: 30rem;
    padding: 0 2.4rem;
  }

  .page {
    width: 30rem;
    margin: auto;
  }

  header h1 {
    font-size: 3.2rem;
  }

  header p {
    font-size: 12px;
  }

  form {
    padding: 3.2rem;
  }

  fieldset legend {
    font-size: 2rem;
  }

  .input-wrapper label {
    font-size: 10px;
  }

  .checkbox-wrapper label {
    display: flex;
    flex-direction: column;
    font-size: 10px;
  }

  .input-wrapper label span {
    font-size: 8px;
    line-height: 16px;

    margin-left: 0;
  }
  
  .input-wrapper-name-complete {
    display: flex;
    flex-direction: column;
    gap: 2.2rem;
  }

  .label-wrapper-name {
    display: flex;
  }

  .input-wrapper-name {
    width: 100%;
  }


  .input-wrapper input,
  .input-wrapper textarea,
  .input-wrapper select {
    width: 23.6rem;
    padding: 0 2.4rem;

    font-size: 12px;
    line-height: 2.2rem;
  }

  .col-3 {
    flex-direction: column;
    gap: 16px;
  } 
}

/**FIM DO MEDIA QUERIES*/